@model OnlineLibrary.Models.Book

@{
    ViewData["Title"] = "Edit Book";
}

<h2 class="text-center mt-4">Edit Book</h2>

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="EditBook" method="post">
            <input type="hidden" asp-for="BookID" />
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author"></label>
                <input asp-for="Author" class="form-control" />
                <span asp-validation-for="Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status">Status</label>
                <select asp-for="Status" class="form-control">
                    <option value="@Model.Status" selected hidden>@Model.Status</option>
                    @foreach (var statusOption in OnlineLibrary.Models.Book.StatusOptions)
                        if (@statusOption != @Model.Status)
                        {
                            <option value="@statusOption">@statusOption</option>
                        }
                </select>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Books">Back to List</a>
</div>
